<img src="https://i.imgur.com/cT8fkqO.png" alt="logo" class="logo">

<nav>
  <a href="/">Home</a>
  <a href="/memories">All Trips</a>
  <a href="/continents">Continents Visited</a>
  <a href="/memories/new">Add a Trip</a>
</nav>
<hr>
