<!-- /continents/:id/edit , update continent page -->

<!doctype html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <div class="page-container">
      <% include ../partials/header %>

      <h2 class="page-title">Edit Continent</h2>
      <form class="new-item-form" method="POST" action="/continents/<%= continent.id %>?_method=PUT">
        <label>Name</label>
        <input name="name" type="text" value="<%= continent.name %>" />
        <button type="submit">Update Continent</button>
      </form>
    </div>
  </body>
</html>
